{% extends "layout.html" %}

{% block content %}

{% include "geo/layout_geo.html" %}
{% load staticfiles %}
{% load humanize %}
<link rel="stylesheet" type="text/css" href="{% static 'home/content/datatables.min.css' %}" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'geo:index' %}">Geographies</a></li>
  <li><a href="{% url 'geo:list' type.slug %}">{{ type }}</a></li>
  <li class="active">{{ geography }}</li>
</ol>

<div class="row">
  <div class="col-md-8">
    <h2>{{ geography }}</h2>
    {% if geography.special_area %}
    <h2><small>{{ geography.special_area_name }}</small></h2>
    {% endif %}

    {% if data %}
    <table id="all_attrs" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Key</th>
        <th>Name</th>
        <th>Period</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
        <tr>
          <td>{{ d.attribute.key }}</td>
          <td><a href="{% url 'attributes:attribute_detail' d.attribute.id %}">{{ d.attribute.parent.name }}{% if d.attribute.parent.units %} ({{ d.attribute.parent.units }}){% endif %}</a></td>
          <td>{{ d.attribute.parent.period }}</td>
          <td>{{ d.value|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No attributes are available.</p>
    {% endif %}
  </div>
  
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12" id="map">
      </div>
    </div>
    
    {% if regions %}
    <h4>Regions that include {{ geography }}</h4>
    <ul class="list-group">
    {% for region in regions %}
      <a class="list-group-item" href="{% url 'geo:region' region.id %}">{{ region }}</a>
    {% endfor %}
    </ul>
  </div>
{% endif %}
</div>
<br/>


{% endblock %}

{% block scripts %}
<script src="{% static 'home/scripts/datatables.min.js' %}"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script>
$(document).ready(function(){
  $('#all_attrs').DataTable({
    "lengthChange": false,
    "dom": '<"pull-left"f>rt<"pull-left"p><"pull-right"i><"clear">',
  });

  var shape = {{ shape|safe }};

  // initialize the map
  var map = L.map('map', {
    center: [41.8338, -87.7334],
    zoom: 10,
    zoomControl: false
  });

  L.control.zoom({
    position: 'topright'
  }).addTo(map);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>- <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> | Imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      minZoom: 6,
      id: 'mapbox.light',
      accessToken: 'pk.eyJ1IjoiamdpdWZmcmlkYSIsImEiOiJjaW1pZnF3cXMwMDl5dXRrZ2FwbDAxOGx3In0.u5objUUR9x0mfHYy1PtYCQ'
  }).addTo(map);

  var layer = new L.GeoJSON().addData(shape);

  // zoom to feature on mouse click
  function zoomToFeature(e) {
      map.fitBounds(e.target.getBounds());
  }

  function enterLayer(){  
    this.setStyle({
      fillOpacity: 0.45,
      opacity: 1
    });
  }

  function leaveLayer(){  
    this.setStyle({
      weight: 3,
      fillOpacity: 0.3,
      opacity: 0.75
    });
  }

  layer.eachLayer(function(i){
    i.setStyle({
      fillColor: '#3498db',
      color: '#3498db',
      weight: 3,     // line
      opacity: 0.75,   // line
      fillOpacity: 0.3,
      smoothFactor: 0.95
    });

    i.on({
      mouseover: enterLayer,
      mouseout: leaveLayer,
      dblclick: zoomToFeature
    });
  });

  map.addLayer(layer).fitBounds(layer.getBounds());
});
</script>
{% endblock %}
