{% extends "layout.html" %}

{% block content %}

{% include "geo/layout_geo.html" %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'geo:index' %}">Geographies</a></li>
  <li><a href="{% url 'geo:list' UrlSlug %}">{{ current_type }}</a></li>
  <li class="active">{{ geo }}</li>
</ol>

{% if geo %}
    <h3>{{ geo }}</h3>
    {% if coverage %}
    This geography has values for the following attributes:
    <ul>
      {% for cov in coverage %}
      <li>{{ cov.attribute }} ({{ cov.attribute.period }})</li>
      {% endfor %}
    </ul>
    {% endif %}
{% else %}
    <p>No geography available.</p>
{% endif %}

{% endblock %}
