{% extends "layout.html" %}

{% block content %}

{% include "geo/layout_geo.html" %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'geo:index' %}">Geographies</a></li>
  <li class="active">{{ current_type }}</li>
</ol>

{% if geo_list %}
    <ul>
    {% for geo in geo_list %}
        <li><a href="{% url 'geo:detail' current_type.slug geo.geoid %}">{{ geo.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No geographies are available.</p>
{% endif %}

{% endblock %}
