{% extends "layout.html" %}
{% block title %}{{ region.name }} - Health Viz{% endblock %}

{% block content %}

{% include "geo/layout_geo.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/content/datatables.min.css' %}" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'geo:index' %}">Geographies</a></li>
  <li><a href="{% url 'geo:region_list' %}">Regions</a></li>
  <li class="active">{{ region.name }}</li>
</ol>


<div class="row">
  <div class="col-md-8">
    <h2>{{ region.name }}</h2>
    <h2><small>{{ region.description }}</small></h2>
    {% if geographies %}
    <h4>This region includes the following geographies:</h4>
    <table id="all_geos" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>GEOID</th>
        <th>Geography</th>
        <th>Special Area</th>
      </tr>
    </thead>
    <tbody>
      {% for geo in geographies %}
        <tr>
          <td><a href="{% url 'geo:detail' geo.type.slug geo.geoid %}">{{ geo.geoid }}</a></td>
          <td>{{ geo }}</td>
          <td>{{ geo.special_area_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No geographies are available.</p>
    {% endif %}
  </div>
  <div class="col-md-4" id="map"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'home/scripts/datatables.min.js' %}"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="{% static 'geo/initialize-map.js' %}"></script>
<script>
var features = [];
{% for s in shapes %}
  features.push({{ s|safe }});
{% endfor %}
// turn into geoJSON
var shapes = {
  "type": "FeatureCollection",
  "features": features
};
// assume that all geographies in the region are the same type
var type, url;
{% if geographies %}
{% with geographies|first as geo %}
  type = '{{ geo.type }}';
  url = "{% url 'geo:list' geo.type.slug %}";
{% endwith %}
{% endif %}
</script>
<script src="{% static 'geo/region.js' %}"></script>
{% endblock %}
