{% extends "layout.html" %}

{% block content %}

{% include "geo/layout_geo.html" %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'geo:index' %}">Geographies</a></li>
  <li class="active">Regions</li>
</ol>

{% if region_list %}
    <ul>
    {% for region in region_list %}
        <li><a href="{% url 'geo:region' region.id %}">{{ region.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No regions are available.</p>
{% endif %}

{% endblock %}
