{% extends "layout.html" %}
{% block title %}Regions - Health Viz{% endblock %}

{% block content %}

{% include "geo/layout_geo.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/content/datatables.min.css' %}" />

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'geo:index' %}">Geographies</a></li>
  <li class="active">Regions</li>
</ol>

<h1>Regions</h1>
<p class="lead">Regions, defined by Health Viz users, are composed of other geographies and can represent neighborhoods, service areas, municipalities, or any other areas.</p>

{% if region_list %}
<div class="row">
  <div class="col-md-12">
    <table id="all_regions" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Size (geographies)</th>
        <th>Added by</th>
      </tr>
    </thead>
    <tbody>
      {% for region in region_list %}
        <tr>
          <td><a href="{% url 'geo:region' region.id %}">{{ region }}</a></td>
          <td>{{ region.description }}</td>
          <td>{{ region.num_geographies }}</td>
          <td>{{ region.added_by.first_name }} {{ region.added_by.last_name }} </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No regions are available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'home/scripts/datatables.min.js' %}"></script>
<script>
$(document).ready(function(){
  $('#all_regions').DataTable({
    "lengthChange": false,
    "pageLength": 20,
    "dom": '<"pull-left"f>rt<"pull-left"p><"pull-right"i><"clear">',
  });
});
</script>
{% endblock %}
