{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">
      <h1>Health Viz</h1>
      <p class="lead">Health Viz is a platform for understanding, analyzing, and visualizing information about Illinois communities.</p>
      <p><a href="{% url 'about' %}" class="btn btn-success btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <img class="img-responsive pull-right" src="{% static '/media/images/region.png' %}" width="100%" style="border-radius: 5px;" />
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Attributes</h2>
        <p>
            Health Viz includes hundreds of data attributes from dozens of public and private data sources.
        </p>
        <p><a class="btn btn-primary" href="{% url 'attributes:index' %}">Explore attributes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Geographic areas</h2>
        <p>Health Viz includes data about every ZIP code, Census tract, and county in Illinois, as well as thousands of other geographic levels.</p>
        <p><a class="btn btn-primary" href="{% url 'geo:index' %}">See all geographies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open source</h2>
        <p>
            Health Viz is entirely free to use and built using open source tools. That means you can help build more features into the site.
        </p>
        <p><a class="btn btn-primary" href="https://github.com/lucaluca/SDH">Join us &raquo;</a></p>
    </div>
</div>

{% endblock %}
