
/********************************  PAGE  **/
body {
  font-size: 12px;
  font-family: Arial;
  margin: 0 auto;
  text-align: center;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#container {
  margin: 0 auto;
  text-align: left;
}

div, form {
  margin: 0;
  padding: 0;
}

text {
  font: 12px sans-serif;  /* axis ticks */
}

.hc-logo img:hover {
  opacity: 0.8;
}

/* bootstrap corrections */
.btn-group-sm>.btn, .btn-sm {
  padding: 2px 7px;
  line-height: 1.2;
  border-radius: 5px;
}

/* geography tabs */
ul.tabs {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin-left: 50px;
}
ul.tabs li {
  float: left;
  margin: 0 4px 0 0;
  font-size: 14px;
}

ul.tabs li:first-child {
  margin-left: 8px;
}
ul.tabs a {
  display: block;
  float: left;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background: #bbb;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
ul.tabs a:hover,
ul.tabs a:focus {
  background: #999;
}
ul.tabs a:active {
  background: #888;
}

ul.tabs a.active {
  position: relative;
  border: none;
  border-bottom: none;
}

ul.tabs a.active::before,
ul.tabs a.active::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  height: 0px;
  width: 999em;
  border-bottom: 2px solid #999;
}

ul.tabs a.active::before {
  right: 100%;
}

ul.tabs a.active::after {
  left: 100%;
}
ul.tabs a.active {
  color: #fff;
  background: #eb6864;
  cursor: default;
}



/************************  SVG */

#chart {
  position: relative;
}

.loading-div {
  font-size: 24px;
  font-style: italic;
  padding: 28% 0;
  width: 100%;
  text-align: center;
  background-color: rgba(230,230,230,0.7);
  position: absolute;
  z-index: 1001;
  border-radius: 50px;
}

.progress-bar {
  height: 30px;
  min-width: 1%;
}

svg {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/************************ CHART HEADER */
#chartHeader .rSquared {
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
  cursor: default;
}

#chartHeader .rSquared:hover {
  color: #444;
}

.header-attributes {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.header-attributes .axis-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.header-attributes select {
  width: 28%;
}

.header-attributes .select2 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* the following two need better overrides */
.select2-container--default .select2-results>.select2-results__options {
  max-height: 250px !important;
}

.select2-results__option {
  font-size: 12px !important;
}

/*    */

/* select2 colors */
.header-attributes .select2:nth-of-type(1) .select2-selection {
  background-color: #87D2DA;
}

.header-attributes .select2:nth-of-type(2) .select2-selection {
  background-color: #7ABC43;
}

.header-attributes .select2:nth-of-type(3) .select2-selection {
  background-color: #EEB91C;
}

.header-attributes .axis-header:nth-of-type(1) {
  color: #6CA8AE;
}

.header-attributes .axis-header:nth-of-type(2) {
  color: #629636;
}

.header-attributes .axis-header:nth-of-type(3) {
  color: #BE9416;
}


/************************ CHART ELEMENTS */
/* bubbles */
.ca {
  fill-opacity: 0.7;
  stroke: #555;
  stroke-opacity: 0.7;
  transition: fill-opacity 0.3s, stroke-opacity 0.3s;
}

.ca:hover {
  fill-opacity: 1;
  stroke-opacity: 1;
  filter: url(#glow);
}

.ca.not-highlighted {
  fill-opacity: 0.25;
  stroke-opacity: 0.25;
}

.ca.highlighted {
  fill-opacity: 1;
  stroke-opacity: 1;
  filter:url(#glow);
}

.ca.temp-highlighted {
  fill-opacity: 1;
  stroke-opacity: 1;
  filter:url(#glow);
}

/* trendline */
.line {
    stroke: blue;
    fill:none;
    stroke-width: 3;
  }

/** tooltips */
.tip, .trendlineTip {
  position: absolute;
  pointer-events: none;
  background-color: white;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.3);
  top: -100px;
  left: -100px;
  padding: 2px 5px 5px 0;
}

.tip .row, .trendlineTip .row {
  width: 100%;
  padding: 0;
  margin: 5px 0 0 5px;
}

.tip .ca {
  font-weight: bold;
  margin-bottom: 4px;
}

.tip .value {
  font-weight: bold;
  padding-right: 5px;
}

.tip .units {
  color: #888;
}

.trendlineTip {
  background-color: #333;
  color: #eee;
  border-radius: 8px;
  opacity: 0.85;
  width: 250px;
}

.trendlineTip .row {
  padding: 0 5px 0 5px;
}

.trendlineTip .corr {
  font-weight: bold;
}

.trendlineTip .y.value {
  font-weight: bold;
}


.label {
  font-size: 10px;
}

/* bootstrap tooltips */
.tooltip-inner {
  max-width: 350px;
  font-size: 13px;
  opacity: 0.8;
  border-radius: 5px;
}

/* legend */
#legend tr {
  cursor: pointer;
  border-bottom: 3px solid white;
}

#legend td {
  padding: 0 9px 0 9px;
}

#legend tr:hover{
  color:black;
}

/* hover over legend makes squares darker */
#legend td:first-child {
  opacity: 0.7;
}

#legend tr.selected {
  font-weight: bold;
  color:black;
}

#legend tr:hover td:first-child,
#legend tr.selected td:first-child {
  opacity: 1;
}

.legend-dropdown .select2 {
  font-weight: bold;
  font-size: 1.3rem;
}

.legend-dropdown {
  margin-bottom: 10px;
}


/******************************* CONTROLS */
#controls {
  height: 680px;
  overflow-y: scroll;
  margin-top: 10px;
  border: 1px solid #3a87ad;
  border-radius: 10px;
}

#attributes {
  width: 100%;
}

.header {
  font-weight: bold;
  margin-top: 5px;
}

td {
  border-top: none;
  border-bottom: none;
  margin: 0;
  padding: 0;
}

td:first-child:hover {
  color: #444;
}

tr {
  margin: 0;
  padding: 0;
}

a {
  padding-right: 3px;
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: none;
  color: black;
}

a.selected {
  color: black;
}

#error {  /* e.g. no javascript */
  font-size: 12px;
  color: darkRed;
}

#controls .small-instructions {  /* instructions at top */
  padding: 20px 15px 0 15px;
}

#controls .checkbox {
  margin-left: 15px;
}

#controls td:first-child {
  padding-right: 10px;
  padding-left: 1em;
  text-indent: -1em;
}

#controls td a {
  display: block;
  padding: 0 3px;
}

.panel {
  margin: 10px;
  width: 95%;
}

.panel-info {
  border-color: #3a87ad;
}

.panel-info>.panel-heading {
  background-color: #3a87ad;
  border-color: #3a87ad;
}

.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.panel-title a:hover, .panel-title a:active,
.panel-title a:focus {
  color: #ccc;
}

#collapseExamples .list-group-item-text {
  font-weight: normal;
}

/* instructions panel */
.instructions .panel {
  width: auto;
  font-size: 14px;
}

.instructions img {
  padding-left: 10px;
}


/******************************* GEOFILTERS */
#geofilters button {
  margin: 20px 10px;
}

#geofilters .select2 li {
  font-size: 14px;
}

#geofilters .select2-selection__clear {
  font-size: 16px;
  padding: 3px 5px;
  margin: 2px 0px -5px -3px;
}

#geofilters .select2-selection__clear:hover {
  color: #000;
}

.select2-results__option {
  padding: 4px 15px;
  text-align: left;
  font-size: 14px;
  color: #111;
}

#geofilters .select2-selection__choice {
  color: #555;
}

/******************************* STATISTICS */
.statistics {
  margin-bottom: 30px;
}

.statistics tr {
  margin: 0;
  padding: 0;
}

.statistics td {
  padding: 2px 0;
  width: 120px;
  text-align: center;
}

.statistics td:first-child {
  width: 75px;
  text-align: left;
  font-weight: bold;
}


/******************************* MAP */
#map {
  height: 600px;
}

.maplegend {
    line-height: 18px;
    color: #555;
}
.maplegend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.mapinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.mapinfo h4 {
    margin: 0 0 5px;
    color: #777;
}

.leaflet-container path{ 
  transition: fill 1s; /* transition feature fill color */
}

.leaflet-container .leaflet-control-attribution {
  background: rgba(255, 255, 255, 0.4);
}