{% extends "layout.html" %}

{% block content %}

{% include "attributes/layout_attr.html" %}
{% load humanize %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'attributes:index' %}">Attributes</a></li>
  <li class="active">{{ attribute.name }}</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <h1>{{ attribute.name }} <span class="badge">{{ attribute.key }}</span></h1>
    <p class="lead">{{ attribute.units }}</p>
    <p>{{ attribute.description }}</p>
    <br/>
    {% if coverage %}
    The following Illinois geographies have information about this attribute:
    <ul class="list-group">
      {% for cov in coverage %}
      <a class="list-group-item" href="{% url 'geo:list' cov.name.slug %}">{{ cov.name }} ({{ cov.count|intcomma }})</small></a>
      {% endfor %}
    </ul>
    {% endif %}
    {% if attribute.technical_notes %}
    <h4>Technical notes</h4>
    <p class="small">{{ attribute.technical_notes }}</p>
    {% endif %}
  </div> 
  <div class="col-md-6">
    <div class="pull-right">
      <br/>
      <h4>Source: <a href="{% url 'attributes:source_detail' attribute.source.id %}">{{ attribute.source }}</a>{% if attribute.source_exact %} ({{ attribute.source_exact }}){% endif %}</h4>
      <h4>Time period: {{ attribute.period }}</h4>
      <h4><small>{{ statistics.population }}</small></h4>
      {% if coverage %}
      <h3>Statistics <small>Illinois {{ stats_coverage.plural_name }}, n={{ statistics.count|intcomma }}</small></h3>
      <table id="statistics" class="table table-striped">
        <thead>
          <tr>
            <th></th><th>{{ attribute.units }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mean</td><td>{{ statistics.mean|floatformat:2 }}</td>
          </tr>
          <tr>
            <td>Median</td><td>{{ statistics.median|floatformat:2 }}</td>
          </tr>
          <tr>
            <td>Maximum</td><td>{{ statistics.max|floatformat:2 }}</td>
          </tr>
          <tr>
            <td>Minimum</td><td>{{ statistics.min|floatformat:2 }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Related attributes</h3>
    <ul class="list-group">
    {% for attr in related_attrs %}
      <a class="list-group-item" href="{% url 'attributes:attribute_detail' attr.id %}">{{ attr.name }}{% if attr.units %} ({{ attr.units }}){% endif %}<span class="badge">{{ attr.key }}</span></a>
    {% endfor %}
    </ul>
  </div>
</div>


{% endblock %}
