{% extends "layout.html" %}

{% block content %}

{% include "attributes/layout_attr.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/content/datatables.min.css' %}" />

<p class="lead">What data is included in Health Viz?</p>

{% load humanize %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="stats-tabs">
      <li>{{ attr_count|intcomma }} <span>attributes</span></li>
      <li><a href="{% url 'attributes:sources' %}">{{ source_count|intcomma }} <span>sources of data</span></a></li>
      <li>{{ eav_count|intcomma }} <span>data points</span></li>
    </ul>
  </div>
</div>
<br/>


{% if attribute_list %}
<table id="all_attrs" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
<thead>
  <tr>
    <th>Key</th>
    <th>Name</th>
    <th>Period</th>
    <th>Source</th>
  </tr>
</thead>
<tbody>
  {% for attr in attribute_list %}
    <tr>
      <td>{{ attr.key }}</td>
      <td><a href="{% url 'attributes:attribute_detail' attr.id %}">{{ attr.parent.name }}{% if attr.parent.units %} ({{ attr.parent.units }}){% endif %}</a></td>
      <td>{{ attr.parent.period }}</td>
      <td><a href="{% url 'attributes:source_detail' attr.parent.source.id %}">{{ attr.parent.source }}</a></td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
    <p>No attributes are available.</p>
{% endif %}
<br/>
<br/>
{% endblock %}

{% block scripts %}
<script src="{% static 'home/scripts/datatables.min.js' %}"></script>
<script>
$(document).ready(function(){
  $('#all_attrs').DataTable({
    "lengthChange": false,
    "dom": '<"pull-left"f>rt<"pull-left"p><"pull-right"i><"clear">',
  });
});
</script>
{% endblock %}
