{% extends "layout.html" %}

{% block content %}

{% include "attributes/layout_attr.html" %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'attributes:index' %}">Attributes</a></li>
  <li class="active">Sources</li>
</ol>

{% if source_list %}
    <ul>
    {% for source in source_list %}
        <li><a href="{% url 'attributes:source_detail' source.id %}">{{ source.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No sources are available.</p>
{% endif %}

{% endblock %}
