/* stats tabs */
ul.stats-tabs {
  list-style-type: none;
}

ul.stats-tabs li {
  float: left;
  margin: 0 30px 0 0;
  padding: 0 30px 0 0;
  border-right: 1px solid #ccc;
  text-align: center;
  display: block;
  font-size: 28px;
  font-weight: bold;
}

ul.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

ul.stats-tabs li span {
  display: block;
  margin-top: 2px;
  font-size: 20px;
  font-weight: normal;
}

ul.stats-tabs a:hover,
ul.stats-tabs a:active {
  text-decoration: none;
  color: #0f7864;
}

/* statistics table */
table#statistics {
  min-width: 300px;
}