body {
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for breadcrumbs */
.breadcrumb {
  display: inline-block;
}

/* prettier links in tables */
.container.body-content table a {
    text-decoration: none;
}
.container.body-content table a:hover, 
.container.body-content table a:active  {
    text-decoration: none;
    color: #0f7864;
}

/* stats tabs */
ul.stats-tabs {
  list-style-type: none;
}

ul.stats-tabs li {
  float: left;
  margin: 0 30px 0 0;
  padding: 0 30px 0 0;
  border-right: 1px solid #ccc;
  text-align: center;
  display: block;
  font-size: 28px;
  font-weight: bold;
}

ul.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

ul.stats-tabs li span {
  display: block;
  margin-top: 2px;
  font-size: 20px;
  font-weight: normal;
}

ul.stats-tabs a:hover,
ul.stats-tabs a:active {
  text-decoration: none;
  color: #0f7864;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}